.hidden {
  display: none;
}

.todolist {
  background: #fff;
}

.mainlist .add,
.mainlist .remove {
  background: #fff;
  border-radius: 10px;
  height: 50px;
  margin: 10px;
  text-align: center;
  width: 50px;
}